name: Run E2e Tests
on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches: [master]
    tags: ['*']

env:
  cwd: ${{github.workspace}}

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}-build
  cancel-in-progress: true

jobs:
  run-e2e-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Use Node.js 22
        uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: 'npm'

      - run: npm ci
        working-directory: ${{github.workspace}}
      
      - name: Build app
        run: npm run build

      - name: Start app
        run: npm run dev &
        # The --host 0.0.0.0 flag for Vite ensures the server is accessible over the CI's network stack.

      - name: Wait for server to start
        run: npx wait-on http://127.0.0.1:5173
        # Explicitly use 127.0.0.1 to avoid localhost<->IPv6 mapping issues in CI.

      - name: Run Cypress tests
        run: npm run test:e2e