name: Run E2e Tests
on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches: [master]
    tags: ['*']

env:
  cwd: ${{github.workspace}}

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}-build
  cancel-in-progress: true

jobs:
  run-e2e-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Use Node.js 22
        uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: 'npm'

      - run: npm ci
        working-directory: ${{github.workspace}}
      
      - name: Build app
        run: npm run build

      - name: Start app
        run: npm run dev &
      
      - name: Wait for server to start
        run: npx wait-on http://localhost:5173

      - name: Run Cypress tests
        uses: cypress-io/github-action@v6
        with:
          # Start with default Cypress E2E options
          start: npm run dev
          wait-on: http://localhost:5173