name: Check Formatting/Linting
on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches: [master]
    tags: ['*']

env:
  cwd: ${{github.workspace}}

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}-build
  cancel-in-progress: true

jobs:
  check-formatting-linting:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Use Node.js 22
        uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: 'npm'

      - run: npm ci
        working-directory: ${{github.workspace}}
      
      - name: Check formatting/linting
        run: npm run lf:ci